<!-- templates/list_detail.html -->
{% extends 'base.html' %}

{% block title %} Create List {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p> List: {{ list.name }} </p> 
    <ul>
    {% for listitem in listitems %}
        <li> {{ listitem.name }} </li>
    {% endfor %}
    </ul>
    <p> Burndown rate: {{ list.get_burndown_rate }} calories per day </p>
    <form action='{{ list.pk }}/add-item' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add item">
    </form>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

